{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <title>StationaryCenter: Eraser</title>
        <meta name="description" content="CourseWork2">
        <meta name="keyword" content="Stationary Shop">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <header>
            <h1><center>-ERASER-</center></h1>
        </header>

        <body>
            <center><img height="650px" src="{% static 'eraser2.jpg' %}"></a>
            <br>
            <p style="color:darkblue">75 THB</p>
            <br>
                <button type="button">buy</button>
                <button type="button">add to cart</button>
            </center>
            <a href="homepage/"><button type="button">&#8592;back</button></a>
        </body>
    </body>
</html>