<!DOCTYPE html>
<html>

    <head>
        <title>StationaryCenter: Login</title>
        <meta name="description" content="CourseWork2">
        <meta name="keyword" content="Stationary Shop">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <h1><b><center>StationaryCenter LOGIN</center></b></h1>
        <fieldset>
            <legend>Login with StationaryCenter ID</legend>
            <label for="username">Username/Email: </label>
            <input type="text" name="username" id="loginuser">
            <br><br>
            <label for="password">Password: </label>
            <input type="password" name="password" id="loginpassword">
        </fieldset>
        <center><a href="hompage/"><button type="button">Login</button></a></center>
    </body>
</html>